<h2>Welcome, <%= @gallery.name %>!</h2>

<div class="text-center">
  <div class="links">
    <% if gallery_signed_in? %>
      <%= link_to "Gallery Profile", gallery_profile_path(@profile) %>
    <% end %>
  </div>
</div>
