/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
$deep-blue: #000080;
$pink: #ffcce6;
$turqoise: #b3ffff;
$font-family: 'Open Sans', sans-serif;
$light-purple: #BF5FFF;

html {

  background-image: image-url("artify_welcome.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
 }

html#artists {
  background-image: image-url("lavender-paper-texture.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.fotorama {
  float: center;
}
.centered {
  text-align: center;
}

.font_size {
  font-size: 1.5rem;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

div.row {
  margin-top: 30px;
}

.top-bar {
  height: 45px;
  line-height: 45px;
  margin-bottom: 0;
  position: relative;
}

li {
  list-style-type: none;
}

hr {
  border: none;
  border-bottom: 1px solid #ffffff;
  clear: both;
  display: block;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 8px auto;
  max-height: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.message-border {
  border-bottom: 2px dotted #b38b0d;
  border-color: white;
  border-style: solid;
  border-width: 20px;
  margin-top: 19px;
}

.image {
  float: left;
}

.image-border {
  padding: 7px 7px 7px 15px;
}
